{% extends 'base.html' %}

{% block head %}  
<title>Monkey</title>
{% endblock %} 


{% block body %} 
<h1 style = "text-align: center">YOU GOT A MATCH!</h1>
<div class = "info">
<h2 style = "text-align: center">Daniel</h2>
</div>
<img src="https://news.images.itv.com/image/file/407940/img.jpg" alt="Pic1">
<div class = "image">
<img src="https://i5.walmartimages.com/asr/3fc2b1fe-e67a-4eb9-8461-bb2c91b7d8b1_1.7a50976273a230c655445de3b9fa460a.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="Pic2">
</div>
<br>
<div class = "likes">
    <p>
        <h2 style = "text-align: center"><u>Likes:</u></h2>
        <h3>Gorilla Activities</h3>
        <h3>Eating Gorilla Food</h3>
        <h3>Making Gorilla Noises</h3>
        <h3>The Jungle (because he is a gorilla)</h3>
        <h3>Party City</h3><br>
        <h2 style = "text-align: center"><u>Dislikes:</u></h2>
        <h3>Accusations of being a human (which he is not)</h3>
        <h3>Tranquilizer Darts</h3>
    </p>
</div>

{% endblock %}