{% extends 'base.html' %}

{% block head %}  
<title>Monkey</title>
{% endblock %} 

{% block body %} 
<h1 style = "text-align: center">FINAL QUESTION</h1>
<h2 style = "text-align: center">Answer this question carefully, because this is really the only question that matters</h2>
<br>
<h2 style = "text-align: center">Banana?</h2>
<p>
    <a href = "http://127.0.0.1:5000/zachary">Banana</a><br><br>
    <a href = "http://127.0.0.1:5000/kathleen">Banana</a><br><br>
    <a href = "http://127.0.0.1:5000/dylan">Banana</a><br><br>
    <a href = "http://127.0.0.1:5000/daniel">Banana</a>
</p>

{% endblock %}