{% extends 'base.html' %}

{% block head %}  
<title>Monkey</title>
{% endblock %} 

{% block body %} 
<h1 style = "text-align: center">YOU GOT A MATCH!</h1>
<div class = "info">
<h2 style = "text-align: center">Zachary</h2>
</div>
<img src="https://files.worldwildlife.org/wwfcmsprod/images/Mountain_Gorilla_Silverback_WW22557/hero_small/4vzzw2piv9_Mountain_Gorilla_Silverback_WW22557.jpg" alt="Pic1">
<div class = "image">
<img src="https://static.wikia.nocookie.net/0b7f3930-b0a2-4c13-9cf2-67fe1d559623" alt="Pic2">
</div>
<br>
<div class = "likes">
    <p>
        <h2 style = "text-align: center"><u>Likes:</u></h2>
        <h3>Violence</h3>
        <h3>Capitalism</h3>
        <h3>Christmas</h3>
        <h3>The New York Knicks</h3>
        <h3><i>Star Wars: The Clone Wars</i></h3><br>
        <h2 style = "text-align: center"><u>Dislikes:</u></h2>
        <h3>People Who Insist That Santa Isn't Real</h3>
        <h3>Country Music</h3>
    </p>
</div>


{% endblock %}